In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
df_train = pd.read_csv(r'train_car.csv')

In [3]:
df_train.shape

(4209, 378)

In [4]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y_train = df_train['y'].values

In [6]:
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))
df_train[cols].dtypes.value_counts()

Number of features: 376

int64     368
object      8
dtype: int64

In [7]:
counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

In [8]:
print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [9]:
df_test = pd.read_csv(r'test_car.csv')

In [10]:
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

In [11]:
x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [12]:
# 2. Check for null and unique values for test and train sets.

if df_train.isnull().any().any()==False:
    print("There are missing values in train dataframe")
else:
    print("Missing Data in the train dataset",df_train.isnull().sum())
if df_test.isnull().any().any()==False:
    print("There are no missing values in test dataframe")
else:
    print("Missing Data i the test dataset",df_test.isnull().sum())

There are missing values in train dataframe
There are no missing values in test dataframe

In [ ]:
df_test.head()

In [13]:
# 1. If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

# 3. Apply label encoder.

for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

C:\Users\Priti\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Priti\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,X142,X243,X129,X274,X376,X20,X40,X79,X250,X2,...,X102,X275,X257,X300,X150,X99,X287,X343,X312,X176
0,1,0,0,0,0,0,0,0,0,213,...,0,1,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,1,215,...,0,1,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,1,110,...,0,0,0,0,1,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,110,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,110,...,0,0,0,0,1,0,0,0,0,0

In [14]:
print('Feature data types:')
x_train[cols].dtypes.value_counts()

Feature data types:

int64    376
dtype: int64

In [15]:
# 4. Perform dimensionality reduction.

n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [16]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
d_test = xgb.DMatrix(pca2_results_test)

C:\Users\Priti\Anaconda3\lib\site-packages\dask\dataframe\utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [17]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [18]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

In [19]:
watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [20]:
xgb_model = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[22:02:22] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.14835	valid-rmse:98.26297	train-r2:-58.35295	valid-r2:-67.63754
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.27651	valid-rmse:80.36433	train-r2:-38.88428	valid-r2:-44.91014
[20]	train-rmse:66.71610	valid-rmse:65.77334	train-r2:-25.87403	valid-r2:-29.75260
[30]	train-rmse:54.86955	valid-rmse:53.88963	train-r2:-17.17751	valid-r2:-19.64393
[40]	train-rmse:45.24492	valid-rmse:44.21995	train-r2:-11.35979	valid-r2:-12.90012
[50]	train-rmse:37.44736	valid-rmse:36.37245	train-r2:-7.46669	valid-r2:-8.40431
[60]	train-rmse:31.14760	valid-rmse:30.01883	train-r2:-4.85761	valid-r2:-5.40575
[70]	train-rmse:26.08679	valid-rmse:24.90901	train-r2:-3.10878	valid-r2:-3.41057
[80]	train-rmse:22.04667	valid-rmse:20.83109	train-r2:-1.93466	valid-r2:-2.08465
[90]	train-rmse:18.84414	valid-rmse:17.60473	train-r2:-1.14400	valid-r2:-1.20313
[100]	train-rmse:16.34008	valid-rmse:15.08291	train-r2:-0.61205	valid-r2:-0.61716
[110]	train-rmse:14.40568	valid-rmse:13.14898	train-r2:-0.25296	valid-r2:-0.22904
[120]	train-rmse:12.92464	valid-rmse:11.69082	train-r2:-0.00858	valid-r2:0.02843
[130]	train-rmse:11.81312	valid-rmse:10.61783	train-r2:0.15744	valid-r2:0.19859
[140]	train-rmse:10.98739	valid-rmse:9.85105	train-r2:0.27111	valid-r2:0.31016
[150]	train-rmse:10.38078	valid-rmse:9.32191	train-r2:0.34937	valid-r2:0.38228
[160]	train-rmse:9.92473	valid-rmse:8.95977	train-r2:0.40529	valid-r2:0.42934
[170]	train-rmse:9.59487	valid-rmse:8.71940	train-r2:0.44416	valid-r2:0.45955
[180]	train-rmse:9.34784	valid-rmse:8.55894	train-r2:0.47241	valid-r2:0.47926
[190]	train-rmse:9.15930	valid-rmse:8.45545	train-r2:0.49348	valid-r2:0.49178
[200]	train-rmse:9.02221	valid-rmse:8.38899	train-r2:0.50853	valid-r2:0.49973
[210]	train-rmse:8.91073	valid-rmse:8.35243	train-r2:0.52060	valid-r2:0.50409
[220]	train-rmse:8.82838	valid-rmse:8.32803	train-r2:0.52942	valid-r2:0.50698
[230]	train-rmse:8.76948	valid-rmse:8.31604	train-r2:0.53568	valid-r2:0.50840
[240]	train-rmse:8.71954	valid-rmse:8.30956	train-r2:0.54095	valid-r2:0.50916
[250]	train-rmse:8.67618	valid-rmse:8.30740	train-r2:0.54551	valid-r2:0.50942
[260]	train-rmse:8.64132	valid-rmse:8.30268	train-r2:0.54915	valid-r2:0.50997
[270]	train-rmse:8.60208	valid-rmse:8.30062	train-r2:0.55324	valid-r2:0.51022
[280]	train-rmse:8.56954	valid-rmse:8.29967	train-r2:0.55661	valid-r2:0.51033
[290]	train-rmse:8.54073	valid-rmse:8.29981	train-r2:0.55958	valid-r2:0.51031
[300]	train-rmse:8.51863	valid-rmse:8.29935	train-r2:0.56186	valid-r2:0.51037
[310]	train-rmse:8.49419	valid-rmse:8.29756	train-r2:0.56437	valid-r2:0.51058
[320]	train-rmse:8.46726	valid-rmse:8.29578	train-r2:0.56713	valid-r2:0.51079
[330]	train-rmse:8.44083	valid-rmse:8.29454	train-r2:0.56983	valid-r2:0.51094
[340]	train-rmse:8.41271	valid-rmse:8.29429	train-r2:0.57269	valid-r2:0.51097
[350]	train-rmse:8.38942	valid-rmse:8.29378	train-r2:0.57505	valid-r2:0.51102
[360]	train-rmse:8.36311	valid-rmse:8.29294	train-r2:0.57771	valid-r2:0.51112
[370]	train-rmse:8.33757	valid-rmse:8.29049	train-r2:0.58029	valid-r2:0.51141
[380]	train-rmse:8.31033	valid-rmse:8.28948	train-r2:0.58303	valid-r2:0.51153
[390]	train-rmse:8.28742	valid-rmse:8.28964	train-r2:0.58532	valid-r2:0.51151
[400]	train-rmse:8.26136	valid-rmse:8.28607	train-r2:0.58793	valid-r2:0.51193
[410]	train-rmse:8.23871	valid-rmse:8.28324	train-r2:0.59018	valid-r2:0.51227
[420]	train-rmse:8.21215	valid-rmse:8.27965	train-r2:0.59282	valid-r2:0.51269
[430]	train-rmse:8.18717	valid-rmse:8.27868	train-r2:0.59529	valid-r2:0.51280
[440]	train-rmse:8.15993	valid-rmse:8.27826	train-r2:0.59798	valid-r2:0.51285
[450]	train-rmse:8.13852	valid-rmse:8.27772	train-r2:0.60009	valid-r2:0.51292
[460]	train-rmse:8.11031	valid-rmse:8.27787	train-r2:0.60286	valid-r2:0.51290
[470]	train-rmse:8.09256	valid-rmse:8.27608	train-r2:0.60459	valid-r2:0.51311
[480]	train-rmse:8.07242	valid-rmse:8.27387	train-r2:0.60656	valid-r2:0.51337
[490]	train-rmse:8.04400	valid-rmse:8.27322	train-r2:0.60933	valid-r2:0.51345
[500]	train-rmse:8.02265	valid-rmse:8.27319	train-r2:0.61140	valid-r2:0.51345
[510]	train-rmse:7.99709	valid-rmse:8.27450	train-r2:0.61387	valid-r2:0.51329
[520]	train-rmse:7.97781	valid-rmse:8.27480	train-r2:0.61573	valid-r2:0.51326
[530]	train-rmse:7.95666	valid-rmse:8.27460	train-r2:0.61776	valid-r2:0.51328
[540]	train-rmse:7.93014	valid-rmse:8.27225	train-r2:0.62031	valid-r2:0.51356
[550]	train-rmse:7.91044	valid-rmse:8.27022	train-r2:0.62219	valid-r2:0.51380
[560]	train-rmse:7.88826	valid-rmse:8.27330	train-r2:0.62431	valid-r2:0.51344
[570]	train-rmse:7.87004	valid-rmse:8.27366	train-r2:0.62604	valid-r2:0.51339
[580]	train-rmse:7.84449	valid-rmse:8.27392	train-r2:0.62846	valid-r2:0.51336
[590]	train-rmse:7.82523	valid-rmse:8.27411	train-r2:0.63029	valid-r2:0.51334
[600]	train-rmse:7.80523	valid-rmse:8.27194	train-r2:0.63217	valid-r2:0.51360
Stopping. Best iteration:
[551]	train-rmse:7.90880	valid-rmse:8.27020	train-r2:0.62235	valid-r2:0.51380

[22:02:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

In [21]:
# 5. Predict your test_df values using XGBoost.

p_test = xgb_model.predict(d_test)

In [22]:
sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('Submission.csv', index=False)

sub.head()

   ID           y
0   1   82.943069
1   2   97.363327
2   3   83.191460
3   4   76.866570
4   5  112.676414

In [25]:
sub

        ID           y
0        1   82.943069
1        2   97.363327
2        3   83.191460
3        4   76.866570
4        5  112.676414
...    ...         ...
4204  8410  109.648430
4205  8411  100.056808
4206  8413   99.187675
4207  8414  106.760742
4208  8416   96.931854

[4209 rows x 2 columns]